.btn-program {
  text-decoration: none;
  padding: 15px 25px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
}