.btn-program {
  text-decoration: none;
  padding: 15px 25px;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
  transition: 0.3s;
  @include phone() {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}

.btn-program:hover {
  background-color: #5eaa2f;
  transition: 0.3s;
}