.burger-wrap {
  display: none;
  @include phone() {
    display: block;
    margin-top: 6%;
  }
}

.burger {
  width: 24px;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  position: relative;
  display: none;
  @include phone() {
    display: block;
    z-index: 1001;
  }
}

.burger:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -8px;
  width: 24px;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  transition: transform 0.4s, top 0.4s;
}

.burger:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 24px;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  transition: transform 0.4s, top 0.4s;
}

.burger-active {
  background-color: transparent;
  transition: background-color 0.4s;
}

.burger-active:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  transform: rotate(45deg);
  transition: transform 0.4s, top 0.4s;
}

.burger-active:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 4px;
  background-color: $black;
  border-radius: 4px;
  transform: rotate(-45deg);
  transition: transform 0.4s, top 0.4s;
}