.example-section {
  background: linear-gradient(to bottom, #ffffff 0%, #fff 28%, #f2f2f2 29%, #f2f2f2 100%);
  display: flex;
  padding-bottom: 70px;
  @include tablet() {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff 0%, #fff 59%, #f2f2f2 60%, #f2f2f2 100%);
  }
  @include phone() {
    background: linear-gradient(to bottom, #f2f2f2 0%, #f2f2f2 100%);
    padding-bottom: 30px;
  }
}

.example_left {
  width: 35%;
  padding-left: 110px;
  @include tablet() {
    width: 92%;
    padding-left: 0;
    padding: 0 30px;
  }
}

.example_left-title {
  font-family: 'oswaldregular', sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-top: 50px;
  @include tablet() {
    margin-bottom: 67px;
  }
  @include phone() {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.example_left-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 75px;
  @include phone() {
    font-size: 14px;
  }
}

.exemple_left-features-wrap {
  @include tablet() {
    display: flex;
    justify-content: space-between;
  }
  @include phone() {
    flex-direction: column;
  }
}

.exemple_left-features {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  @include phone() {
    margin-bottom: 35px;
  }
}

.exemple_left-feature {
  list-style-type: none;
  width: 160px;
  height: 70px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-right: 40px;
  display: flex;
  position: relative;
  @include phone() {
    margin-right: 0;
  }
}

.exemple_left-feature:first-child {
  @include phone() {
    margin-right: 30px;
  }
}

.exemple_left-feature-title {
  font-family: 'oswaldregular', sans-serif;
  font-size: 30px;
  margin: auto;
}

.exemple_left-feature-text {
  position: absolute;
  width: fit-content;
  background-color: #f2f2f2;
  padding: 0 5px;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.exemple_left-cost {
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
  @include tablet() {
    width: 160px;
    text-align: right;
  }
  @include phone() {
    width: 100%;
    text-align: center;
  }
  span {
    margin-right: 50px;
    @include tablet() {
      margin-right: 0;
    }
  }
}

.example_right {
  width: 75%;
  @include tablet() {
    padding-left: 0;
    width: 85%;
  }
}

.exemple_right-img {
  width: 80%;
  margin: 0 auto;
  position: relative;
  @include tablet() {
    margin: 0;
  }
}

.exemple_right-range {
  display: flex;
  align-items: center;
  @include phone() {
    justify-content: space-between;
  }
}

.exemple_right-range-text {
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
  margin-left: 80px;
  border: 1px solid transparent;
  padding: 10px 40px;
  border-radius: 25px;
  transition: 0.3s;
  @include phone() {
    margin: 0;
  }
}

.exemple_right-range-text:hover {
  border: 1px solid $green;
  cursor: pointer;
  transition: 0.3s;
}

.exemple_right-range-text:first-child {
  margin-left: 26%;
  @include phone() {
    margin: 0;
  }
}

.exemple_right-range-text--active {
  border: 1px solid $green;
  background-color: $green;
  color: $white;
  transition: 0.3s;
}

.exemple_right-img-before,
.exemple_right-img-after {
  position: initial;
  opacity: 1;
  transition: 0.8s;
}

.exemple_right-img--inactive {
  position: absolute;
  opacity: 0;
  transition: 0.8s;
  z-index: -5;
}