.map-section {
  height: 410px;
  position: relative;
  padding: 0 110px;
  border-top: 1px solid transparent;
  @include tablet() {
    padding: 0;
    height: 600px;
  }
}

.map {
  position: absolute;
  background: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.map_advert {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 65px 75px;
  margin-top: 110px;
  width: 45%;
  @include tablet() {
    width: auto;
    margin-top: 0;
  }
  @include phone() {
    padding: 30px 20px;
  }
}

.map_advert-title {
  font-family: 'oswaldregular', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  @include phone() {
    font-size: 16px;
  }
}

.map_adress {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  width: 160px;
  @include phone() {
    font-size: 14px;
  }
}