.btn-submit {
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
  color: $white;
  font-weight: 300;
  padding: 15px 208px;
  background-color: $green;
  border: none;
  margin-left: 110px;
  transition: 0.3s;
  @include phone() {
    margin-left: 0;
    margin: 0 auto;
    padding: 12px 80px;
  }
}

.btn-submit:hover {
  background-color: #5eaa2f;
  transition: 0.3s;
  cursor: pointer;
}