.nav {
  @include phone() {
    display: none;
  }
}

.nav_wrap {
  display: flex;
  @include tablet() {
    margin-top: 26px;
  }
}

.nav_wrap-item {
  list-style-type: none;
  transition: 0.2s;
}

.nav_wrap-item:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.nav_item-link {
  text-decoration: none;
  font-family: 'oswaldregular', sans-serif;
  font-size: 20px;
  margin-left: 25px;
  text-transform: uppercase;
  color: $black;
  @include tablet() {
    font-size: 18px;
  }
}

.nav_item-link--active {
  border-bottom: 2px solid $green;
}

.nav_item-link--active-color {
  border-bottom: 2px solid $white;
  @include tablet() {
    border-color: $green;
  }
}

.nav_item-link--color {
  color: $white;
  @include tablet() {
    color: $black;
  }
}

/*Менб в мобайле*/

.nav {
  @include phone() {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: $white;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
  }
}

.nav-active {
  display: flex;
  .nav_wrap {
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: space-around;
  }
  .nav_wrap-item {
    width: 100%;
    border-top: 1px solid $grey;
    padding: 25px 0;
  }
}

.nav-animate {
  animation-duration: 0.55s;
  /* Время работы анимации */
  animation-fill-mode: both;
  /* Поведение анимации */
  animation-name: navInDown;
  /* Имя анимации */
}

@keyframes navInDown {
  /* Сама анимация */
  0% {
    /* Старт анимации */
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}